@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Rubik|IM+Fell+Double+Pica');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  background-color: #F2F2F2;
}

h1, h2, h3 {
  color:#0F7CBF;
  font-family: 'Shadows Into Light', cursive;
}

/* Start of Hero styling */

.Hero, .Hero-2 {
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image: linear-gradient(rgba(0,0,0,9), rgba(0, 0, 0, 0.5)), url('Images/Image1.jpg');
  min-height:100vh;
}

.Hero-2 {
  min-height: 60vh !important;
  background-image: linear-gradient(rgba(0,0,0,9), rgba(0, 0, 0, 0.2)), url('Images/Image2.jpg') !important;
}

.Hero-Text{
  position:absolute;
  top:25%;
  width:100%;
  text-align:center;
  font-size:6vh;
  letter-spacing:4px;
  text-transform:uppercase;
}

.Hero-Text h1 {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 8vh;
  color:#6A8DAD;
}

.Hero-Text h3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 5vh;
  color: #FCF3EF;
  padding: 20px;
}

.Hero-Text q, p {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5vh;
  color:#EAF4F1;
  padding:20px;
}

.Hero-Text hr, .About hr, .Portfolio hr, .Contact hr, .Portfolio .Box hr, .Hero-Text2 hr {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  border: 2px solid;
  border-color: #F28444;
  margin-bottom: 20px;
}

/* Start of About Me styling */

.Container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.Grid-1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.About h2, .Portfolio h2, .Contact h2 {
  text-align: center;
  font-size: 6vh;
  color: #6A8DAD;
}

.About p, .Contact p {
  color: #393D40;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.About hr, .Contact hr {
  border-color: #F28444;
}

/* Start of Portfolio styling */

.Portfolio {
  background-color: #6A8DAD;
}

.Portfolio h2 {
  color: #F2F2F2;
}

.Portfolio hr {
  border-color: #F28444;;
}

.Portfolio p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

/* Start of Portfolio styling for projects section */

.Portfolio-Box-Grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.Portfolio .Intro {
  margin-bottom: 15px;
}

.Portfolio .Box {
  text-align: center;
  /* padding: 0.5rem 0.5rem; */
  background-color: #F2F2F2;
}

.Portfolio .Box h3 {
  font-size: 30px;
  color: #6A8DAD;
  margin-top: 10px;
}

.Portfolio .Box hr {
  border-color: #F28444; !important;
}

.Portfolio .Box img {
  max-width: 100%;
  max-height: 400px;
}

.Portfolio .Box p {
  font-size: 16px;
  color: #393D40;
}

.Portfolio .Box .intro {
  height: 150px;
}

/* Start of styling for the git and web links inside the projects section */

.Portfolio-Links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Portfolio-Links .Links {
  padding-top: 5px;
  margin-bottom: 20px;
}

.Portfolio-Links .Links a {
  margin-right: 100px;
}

/* End of Portfolio section */

/* Start of the contact me section */

.Container-Small {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.Grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: auto;
}

.icons {
  margin-top: -50px;
}

/* Start of Hero 2 styling */

.Hero-2 {
  min-height: 60vh !important;
  background-image: linear-gradient(rgba(0,0,0,9), rgba(0, 0, 0, 0.2)), url('Images/Image2.jpg') !important;
}

.Hero-Text2{
  position:absolute;
  top:40%;
  width:100%;
  text-align:center;
  font-size:6vh;
  letter-spacing:4px;
  text-transform:uppercase;
}

.Hero-Text2 h1 {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 5vh;
  color:#6A8DAD;
}

.Hero-Text2 h3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3vh;
  color: #EAF4F1;
  padding:20px;
}

.Hero-Text2 q, p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8vh;
  color:#EAF4F1;
  padding:20px;
}

/* Start of Footer Styling */

footer {
  padding: 2.2rem;
  background-color: #3B3C40;
}
footer p {
  margin: 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: #6A8DAD;
  font-weight: 600 !important;
}

/* Start of media queries */

@media(max-width:640px){

  .Hero {
    background-attachment:scroll;
  }

  .Hero-Text{
    top:20%;
  }

  .Hero-Text h1 {
    font-size: 5vh;
  }

  .Hero-Text h3 {
    font-size: 3.5vh;
  }

  .Hero-Text q, p {
    font-size: 1.3vh;
  }

  .Hero-Text2 {
    top: 15%;
  }

  .Hero-2 h1 {
    font-size: 3.2vh;
  }

  .Hero-2 h3 {
    font-size: 2vh;
  }

  .Hero-Text2 q, p {
    font-size: 1.3vh;
  }
}
